.venv
.git
.gitignore
node_modules
frontend/node_modules
ml-api/__pycache__
*.pyc
*.pyo
*.pyd
.db
.sqlite
.env
.vercel
.next
frontend/out
frontend/.next
frontend/.vercel
notebook/*.ipynb
assets/*.docx
temp.txt
tests/
ml-api/tests/
